
<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row-fluid">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            <span class="small">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
            {%- if site.author and site.email -%}
            &nbsp;•&nbsp;
            {%- endif -%}
          {%- if site.email -%}
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            {%- endif -%}
            &nbsp;•&nbsp;
              2015—{{ site.time | date: "%Y" }}
            </span>
            </li>
            <li>
              <p class="small">
            PGP key fingerprint: <tt>5E5B E022 04CA 0B0E A2A0  0CBA A845 261A 9F38 A9A0</tt>
            <br></br>
            (former PGP key fingerprint: <tt>5111 C4C4 4DB3 7FFB 1EA3  E264 606A 6D46 C40B F79B</tt>)
              </p>
            </li>
        </ul>
      </div>

      <div class="col-sm text-right">
        <p class="small">
          <a href="https://nicolas-van.github.io/bootstrap-4-github-pages/">Powered by Bootstrap 4 Github Pages</a> using the
          <a href="https://bootswatch.com/spacelab/">Bootswatch Spacelab theme</a>.
        </p>
      </div>

    </div>

  </div>
</div>
