<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a href="{{ site.github.repository_url }}" style="position: absolute; top: 0; left: 0; border: 0; z-index: 101" alt="Fork me on GitHub" data-recalc-dims="1"><img width="80" height="80" src="/assets/forkme_left_red.svg" class="attachment-full" ></a>

  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
        {% endfor -%}
        <li class="nav-item">
          {%- assign manuals = site.versions | first | prepend: "doc/reference/" | append: "/manpage.html" | relative_url -%}
          <a class="nav-link" href="{{ manuals }}">Manuals</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
